.navbar {
  padding: 0px 25px 0px 15px;
  background-color: #f7802b;
}

.navbar > a {
  font-size: 35px;
  font-family: 'Nerko One', cursive;
  color: white !important;
  letter-spacing: 7px;
}

.navbar > a > img {
  margin-top: -14px;
}

.navbar > ul {
  padding-right: 50px;
}

.navbar > ul > li {
  padding: 0 10px 0 10px;
}

.navbar > ul > li > a {
  font-size: 16px;
  color: white !important;
}

.navbar > ul > li > .dropdown-menu {
  padding: 0;
}

.navbar > ul > li > .dropdown-menu > .dropdown-item {
  padding: 10px 0 10px 10px !important;
}

.navbar > ul > li > .dropdown-menu > .dropdown-item:hover {
  background-color: rgba(237, 233, 225, 0.6);
}

.navbar > ul > li:hover, .navbar > ul .active {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.navbar > ul > li:hover > a, .navbar > ul .active > a {
  color: rgba(0, 0, 0, 0.699) !important;
}

.body > nav {
  border-radius: 12px 12px 0 0;
  height: 45px;
  margin-bottom: 10px;
}

.body > nav > a {
  font-size: 24px;
  letter-spacing: 2px;
  cursor: default;
}

.background {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7e0b5;
  padding: 70px 100px;
}

#category1 {
  background-color: #FE6E63;
}

#category2 {
  background-color: #FE9850;
}

#category3 {
  background-color: #FFD042;
}

#category4 {
  background-color: #FEE801;
}

#category5 {
  background-color: #BEE647;
}

#category6 {
  background-color: #74D072;
}

#category7 {
  background-color: #68E8DB;
}

#category8 {
  background-color: #68E8DB;
}

.body {
  -webkit-box-shadow: 0 8px 34px 0 rgba(0, 0, 0, 0.2), 0 15px 19px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 34px 0 rgba(0, 0, 0, 0.2), 0 15px 19px 0 rgba(0, 0, 0, 0.3);
  padding: 0;
  background-color: white;
  border-radius: 12px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 40px;
}

.body > nav {
  border-radius: 12px 12px 0 0;
  height: 45px;
}

.body > nav > a {
  font-size: 24px;
  letter-spacing: 2px;
  cursor: default;
}

.body > nav {
  margin-bottom: 10px;
}

.transaction > .transaction-table {
  margin: 0 auto;
  width: 95%;
  text-align: center;
  font-size: 12px;
}

.transaction > .transaction-table > thead {
  background-color: #fc9a55;
  color: white;
}

.budget > .budget-overview > .budget-row > .row > .col-3 {
  margin-top: 9px;
  margin-bottom: 5px;
}

.budget > .budget-overview > .budget-row > .row > .col-3 > div {
  height: 35px;
}

.budget > .budget-overview > .budget-row > .row > .col-3 > div > sub {
  bottom: -1.25em;
  color: grey;
}

.budget > .budget-overview > .budget-row > .row > .col-3 p {
  margin-bottom: 0;
  font-size: 14px;
}

.budget > .budget-overview > .budget-row > .row > .col-9 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.budget > .budget-overview > .budget-row > .row > .col-9 > .progress {
  height: 25px;
  border-radius: 8px !important;
}

.budget > .budget-overview > .budget-row > .row > .col-9 > .progress > .progress-bar {
  width: 50%;
  background-color: #fc9a55 !important;
  border-radius: 8px;
}

.budget > .budget-overview > .budget-row > .row > .col-9 > .progress > .excess-bar {
  background-color: #ff6767 !important;
}

.budget > .budget-overview > .budget-row > .row > .col-9 > .progress > .excess-value {
  color: white !important;
}

.budget > .budget-overview > .budget-row > .row > .col-9 > .progress > h6 {
  position: absolute;
  right: 30px;
  bottom: 28px;
  font-size: 12px;
}

.budget > .budget-overview > .budget-row > .row > .col-9 > .progress > .vl {
  border-left: 2px solid white;
  height: 30px;
  position: absolute;
  left: 10%;
}

.budget > .budget-overview > .budget-row > .row > .col-9 > .row {
  padding-top: 7px;
}

.budget > .budget-overview > .budget-row > .row > .col-9 > .row > .col-6 {
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.budget > .budget-overview > .budget-row > .row > .col-9 > .row > .col-6 > .spent {
  float: left;
  color: #fc9a55;
  font-size: 14px;
}

.budget > .budget-overview > .budget-row > .row > .col-9 > .row > .col-6 > .excess {
  color: #ff6767 !important;
}

.budget > .budget-overview > .budget-row > .row > .col-9 > .row > .col-6 > .target {
  float: right;
  font-size: 14px;
}

.budget > .budget-overview > .budget-row hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.snapshot > .row {
  padding-bottom: 10px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.snapshot > .row > div {
  background-color: #fc9a55;
  text-align: center;
  margin: 0 10px;
  width: 180px;
  height: 75px;
  border-radius: 15px;
  color: white;
  padding-top: 8px;
}

.snapshot > .row > div > h5 {
  margin-bottom: 2px;
}

.snapshot > .row > h3 {
  padding: 0 12px;
  color: grey;
}

.investment > .chart {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.investment > .institution-table {
  margin: 0 auto;
  width: 95%;
  text-align: center;
  font-size: 12px;
}

.investment > .institution-table > thead {
  background-color: #fc9a55;
  color: white;
}

.liability > .liability-overview > div {
  padding: 0;
}

.liability > .liability-overview > div > .liability-row > .row > .col-3 {
  margin-top: 9px;
  margin-bottom: 5px;
}

.liability > .liability-overview > div > .liability-row > .row > .col-3 > div {
  height: 35px;
}

.liability > .liability-overview > div > .liability-row > .row > .col-3 > div > sub {
  bottom: -1.25em;
  color: grey;
}

.liability > .liability-overview > div > .liability-row > .row > .col-3 p {
  margin-bottom: 0;
  font-size: 14px;
}

.liability > .liability-overview > div > .liability-row > .row > .col-9 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.liability > .liability-overview > div > .liability-row > .row > .col-9 > .progress {
  height: 25px;
  border-radius: 8px !important;
}

.liability > .liability-overview > div > .liability-row > .row > .col-9 > .progress > .progress-bar {
  width: 30%;
  background-color: #fc9a55 !important;
  border-radius: 8px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.liability > .liability-overview > div > .liability-row > .row > .col-9 > .progress > h6 {
  position: absolute;
  right: 30px;
  bottom: 28px;
  font-size: 12px;
}

.liability > .liability-overview > div > .liability-row > .row > .col-9 > .row {
  padding-top: 7px;
}

.liability > .liability-overview > div > .liability-row > .row > .col-9 > .row > .col-6 {
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.liability > .liability-overview > div > .liability-row > .row > .col-9 > .row > .col-6 > .paid {
  float: left;
  color: #fc9a55;
  font-size: 14px;
}

.liability > .liability-overview > div > .liability-row > .row > .col-9 > .row > .col-6 > .target {
  float: right;
  font-size: 14px;
}

.liability > .liability-overview > div > .liability-row hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
