.navbar {
  padding: 10px 25px 10px 15px;
  background-color: #FF6C00;
}

.navbar > a {
  font-size: 35px;
  font-family: 'Nerko One', cursive;
  color: white !important;
  letter-spacing: 7px;
}

.navbar > a > img {
  margin-top: -14px;
}

.navbar > ul {
  padding-right: 50px;
}

.navbar > ul > li {
  padding: 0 10px 0 10px;
}

.navbar > ul > li > a {
  font-size: 16px;
  color: white !important;
}

.navbar > ul > li > .dropdown-menu {
  padding: 0;
}

.navbar > ul > li > .dropdown-menu > .dropdown-item {
  padding: 10px 0 10px 20px;
}

.navbar > ul > li > .dropdown-menu > .dropdown-item:hover {
  background-color: rgba(237, 233, 225, 0.6);
}

.navbar > ul > li:hover, .navbar > ul .active {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.navbar > ul > li:hover > a, .navbar > ul .active > a {
  color: rgba(0, 0, 0, 0.699) !important;
}

.background {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 70px 135px;
}

.body {
  -webkit-box-shadow: 0 8px 34px 0 rgba(0, 0, 0, 0.2), 0 15px 19px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 34px 0 rgba(0, 0, 0, 0.2), 0 15px 19px 0 rgba(0, 0, 0, 0.3);
  padding: 0;
  background-color: white;
  border-radius: 12px;
  font-family: 'Open Sans', sans-serif;
}

.body > nav {
  border-radius: 12px 12px 0 0;
  height: 45px;
}

.body > nav > a {
  font-size: 24px;
  letter-spacing: 2px;
}

.body > .overall {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body > .overall > div {
  background-color: #fc9a55;
  width: 200px;
  height: 75px;
  border-radius: 25px;
  color: white;
  margin: 50px auto;
  text-align: center;
  padding: 14px;
}

.body > .overall > div > h5 {
  margin-bottom: 0;
}

.body > .chart {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body > .institution-table {
  margin: 35px auto;
  width: 90%;
  text-align: center;
}

.body > .institution-table > thead {
  background-color: #fc9a55;
  color: white;
}

.body > h4 {
  padding-top: 40px;
  text-align: center;
}

.body > hr {
  width: 30%;
  margin: 0 auto;
  height: 3px;
  background-color: #E1E1E1;
  border: 0s;
}
