#category1 {
  background-color: #FF6C00;
}

#category2 {
  background-color: #DC8600;
}

#category3 {
  background-color: #A1756C;
}

#category4 {
  background-color: #54433A;
}

#category5 {
  background-color: #BCA79D;
}

#category6 {
  background-color: #AD7267;
}

#category7 {
  background-color: #754C44;
}

#category8 {
  background-color: #FF6C00;
}
