#category1 {
  background-color: #FE6E63;
}

#category2 {
  background-color: #FE9850;
}

#category3 {
  background-color: #FFD042;
}

#category4 {
  background-color: #FEE801;
}

#category5 {
  background-color: #BEE647;
}

#category6 {
  background-color: #74D072;
}

#category7 {
  background-color: #68E8DB;
}

#category8 {
  background-color: #68E8DB;
}
